@model JGProject2.Models.ViewModels.RemovePersonProject

@{
    var person = (Person)ViewData["Person"];
    var project = (Project)ViewData["Project"];
    ViewData["Title"] = "RemovePerson";
}

<h1>Remove @person.FirstName @person.MiddleName @person.LastName from Project: @project.Name</h1>

<h3>Are you sure you want delete  @person.FirstName @person.MiddleName @person.LastName from Project: @project.Name?</h3>


<div> 
    <form asp-action="RemovePerson">
        
        <input type="submit" value="Yes Remove" class="btn btn-danger" /> |
        <a asp-controller="Project" asp-action="Details" asp-route-id="@project.Id" >Back to List</a>
    </form>
</div>
